* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
}
html, body {
	background: #EEE;
	font: 12px sans-serif;
	font-family: "Helvetica";
}
body {
	padding-top: 1.8em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, table, tbody, tr, td {
	height: 93%
}
table {
	table-layout: fixed;
	width: 100%;
}
td {
	width: 33%;
	padding: 3px 4px;
	border: 1px solid transparent;
	vertical-align: top;
	font: 1em monospace;
	text-align: left;
	white-space: pre-wrap;
}
h1 {
display: inline;
font-size: 25pt;

}
del {
	text-decoration: none;
	color: #b30000;
	background: #fadad7;
}
ins {
	background: #eaf2c2;
	color: #406619;
	text-decoration: none;
}

#settings {
	//position: absolute;
	top: 0;
	left: 5px;
	right: 5px;
	height: 2em;
	line-height: 1em;
}
#settings label {
	margin-left: 1em;
}

.source {
	position: absolute;
	right: 1%;
	top: .2em;
}

#returnButtonLayout{
	text-align: center;
}



[contentEditable] {
	background: #F9F9F9;
	border-color: #BBB #D9D9D9 #DDD;
	border-radius: 4px;
	-webkit-user-modify: read-write-plaintext-only;
	outline: none;
}
[contentEditable]:focus {
	background: #FFF;
	border-color: #6699cc;
	box-shadow: 0 0 4px #2175c9;
}

@-moz-document url-prefix() {
	body {
		height: 99%; /* Hide scroll bar in Firefox */
	}
}

#bottomBar{
	width:100%;
	height:190px;
	overflow-x: scroll;
	
}
.eventDiv{
	width:8px;
	height:20px;
	float:left;
	margin-left:0px;
	background-color:darkgray;
}

.smallEventDiv{
	width:2px;
	height:20px;
	float:left;
	margin-left:0px;
	background-color:darkgray;
}

.textChange{
	background-color:#c34500;
	opacity: 0.2;
}

.fileRow{
	background-color:rgb(209, 209, 209);
	width:100%;
	height:20px;
	margin-top:0px;
	margin-bottom: 2px;
}

#allEvents{
	width: 10600px;
	overflow-x: scroll;

}

.placeHolder{
	width:8px;
	height:20px;
	float:left;
	margin-left:0px;
	background-color:rgb(209, 209, 209);
}

.smallPlaceHolder{
	width:2px;
	height:20px;
	float:left;
	margin-left:0px;
	background-color:rgb(209, 209, 209);
}

.rowLabel{
	position:absolute;
		font-family: "Helvetica";
		padding-top: 3px;
}

.spacer{
	height:18px;
}

#eventsRow .spacer{
    //background-color: green;
}

.spacer{
	//background-color: yellow;
}

.SPACER_placeHolder{
	//background-color:pink;
	width:8px;
	height:15px;
	float:left;
}

.SPACER_smallPlaceHolder{
	//background-color:pink;
	width:2px;
	height:15px;
	float:left;
}

#TDDCyclesRow .placeHolder{
	//background-color:orange;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width:7px;
}

#TDDCyclesRow .smallPlaceHolder{
//background-color: orange;
border-left: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;
border-right: 0px;
width: 1px;
}

.REDCYCLE{
	background-color: #af292e;
}

.GREENCYCLE{
	background-color: #4e7300;
}
.BLUECYCLE{
	background-color: #385e86;
}

#testRun_Error{
	background-color: #af292e;
}

#testRun_OK{
	background-color: #4e7300;
}


.firstSelection{
	opacity: 0.8;
	border-top: 2px solid black;
	height: 16px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
.midSelection{
	opacity: 0.8;
	border-top: 2px solid black;
	height: 16px;
	border-bottom: 2px solid black;
}
.lastSelection{
	opacity: 0.8;
	border-top: 2px solid black;
	height: 16px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

.eventDiv.firstSelection{
	width:6px;
}

.eventDiv.lastSelection{
	width:6px;
}


#tableContainer{
	height: 80%;
	overflow: scroll;
}



